@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Michroma&family=Nabla&family=Orbitron:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Secular+One&family=Zen+Dots&display=swap');
// color
$purp : #CCC0FF;
$dark-purp: #953C96;
$yellow: #FFE5A4;
$pink: pink;
$green: #4FBF90;
$green-LIGHT: #4fbf9087;

$bg: #F4F2F0;

// ff

$zen: 'Michroma', sans-serif;

* {
    box-sizing: border-box
    ;
    margin: 0;
    padding: 0;
    
}

